body{
    text-align: center;
    padding-bottom: 10px;
}
.header{
    margin-right: 500px;
    margin-left: 500px;
    padding-top: 40px;
    padding-bottom: 15px;
    border: 1px solid  lightgrey;
    margin-top: 5px;
    
}
.form input{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 2px;
    
}
.login button{
    padding-top: 6x;
    padding-bottom: 6px;
    padding-right: 100px;
    padding-left: 100px;
    border-radius: 5px;
    background-color: skyblue;
    color: white;
    font-size: larger;
    font-weight: bold;
    border-style: none;
}
.dash{
    color: grey;
    font: inherit;
    font-size: 15px;
    font-weight: bold;
    margin: 20px 16px;
    border-bottom: 1px solid #dadde1;  
}
.fb{
    font-weight: bold;
    color: #385185;
    font-size: 15px;
}
.forgot{
    font-weight: lighter;
    font-size: 14px;
    color: #385185;
    font: inherit;
}
.recover{
    font-weight: lighter;
    font-size: 14px;
    color: #385185;
    font: inherit;
}
.footer{
    border: 1px solid lightgrey;
    margin-left: 500px;
    margin-right: 500px;
    padding-top: 15px;
    padding-bottom: 15px;
    font: inherit;
}
.footer span{
    color: rgb(7, 143, 197);
    font-size: 15px;
    font-weight: bold;
}
.get{
    font: inherit;
    padding-bottom: 10px;
}
